---
import { getProducts } from "../../products.api";
import { Image } from "@astrojs/image/components";

const products = await getProducts();
---

<ul class="grid grid-cols-3 space-x-6 space-y-6">
  {
    products.map((p: any) => (
      <li class="w-full">
        <a href={`/product/${p.id}`}>
          <Image src={p.image} width="1200" aspectRatio="1:1" alt="" />
          <span>{p.title}</span>
        </a>
      </li>
    ))
  }
</ul>
