---
import Layout from "../layouts/Layout.astro";
import ProductList from "../components/ProductList/index.astro";
---

<Layout title="Welcome to Astro.">
  <main class="py-24">
    <div class="container">
      <h1 class="mb-12 text-2xl font-bold">You want some products?</h1>

      <ProductList />
    </div>
  </main>
</Layout>
